button
{
           padding: 20px;
            border-radius: 10px;
            font-size: 20px;
            margin: 5px;

    font-size: 30px;
}
button:hover{
    background-color: rgb(210, 165, 216);
}
input
{
    padding: 5%;
    border-radius: 10px;
}
input:hover
        {
            background-color:rgb(121, 168, 212);
        }
.total
{
border-style: solid;
max-width: fit-content;       
border-radius: 10px;
padding: 20px; 
background-color: rgb(112, 112, 116);
border-color: white;
}
.total:hover
{
    padding: 30px;
}